html{ 
    box-sizing: border-box;
}
 
*,
*::after,
*::before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
body{
    position: relative;
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: #5C8694 #DCE3E5;
}

ul{
    margin: 0;
    padding: 0;
}

a {
    color:inherit;
    text-decoration: none;
}

h1{
    color:#252A34;
    text-align: center;
    font: {
        family: "Inter", system-ui;
        weight:600;
        size:60px;
    }
}

h2{
    text-align: center;
    font: {
        family: "Inter", system-ui;
        weight:600;
        size:48px;
    }
    color: #252A34;
}

h3{
    font: {
        family: "Inter", system-ui;
        weight:600;
        size:34px;
    }
    color: #191919;
}

h4{
    font: {
        family: "Inter", system-ui;
        weight:600;
        size:28px;
    }
    color: #191919;
}



h5{
    font: {
        family: "Inter", system-ui;
        weight:600;
        size:24px;
    }
    color: #FFFFFF;
}

h6{
    font: {
        family: "Inter", system-ui;
        weight:500;
        size:14px;
    }
    color: #3D3D3D;
}



ul{
    list-style-type: none;
}

.description{
    text-align: center;
    font: {
        family: "Inter", system-ui;
        weight:400;
        size:20px;
    }
    color: #000000;
}

.description_under{
    color:#717171;
    font: {
        family: "Inter", system-ui;
        weight:400;
        size:16px;
    }
}

.footer__links-logo{
    display: flex;
    align-items: center;
    font: {
        family: "Inter", system-ui;
        weight:600;
        size:22px;
    }
    span{
        color:#0094FF;
    }

    img{
        width: 35px;
        height: 40px;
        margin-right: 6px;
    }
}

.header__inner-logo{
    display: flex;
    align-items: center;
    font: {
        family: "Inter", system-ui;
        weight:600;
        size:22px;
    }
    span{
        color:#0094FF;
    }

    img{
        width: 35px;
        height: 40px;
        margin-right: 6px;
    }
}

.contacts__text{
    font: {
        family: "Inter", system-ui;
        weight:400;
        size:16px;
    }
    color: #FFFFFF;
}

.version-text{
    color:#191919;
    font: {
        family: "Inter", system-ui;
        weight:400;
        size:16px;
    }
}

.link-more{
    color:#0094FF;
    font: {
        family: "Inter", system-ui;
        weight:500;
        size:14px;
    }

    img{
        margin-left: 5px;
    }

}

.footer__menu-item{
    color:#FFFFFF;
    font: {
        family: "Inter", system-ui;
        weight:400;
        size:14px;
    }
}

.footer__form-label, .footer__form-input{
    color:#FFFFFF;
    font: {
        family: "Inter", system-ui;
        weight:400;
        size:20px;
    }
}

.button{
    background-color: #0094FF;
    color:white;
    width: 160px;
    height: 46px;
    border-radius: 4px;
    border: none;
   

    font: {
        family: "Inter", system-ui;
        weight:600;
        size:14px;
    }
    &:hover{
        cursor: pointer;
    }
}

.btn-arrow{
    width: 186px;
    height: 48px;
    box-shadow: 0px 6px 32px 0px rgba(0, 148, 255, 0.7);
    border: none;
    cursor: pointer;

    .btn-text{
        display: flex;
        width: 172px;
        justify-content: space-between;
        padding-left: 10px;
        align-items: center;

        p{  margin: 0;
            color:#FFFFFF;
            font: {
                family: "Inter", system-ui;
                weight:600;
                size:14px;
            }
        }

        .img__arrow{
            width: 36px;
            height: 36px;
            border-radius: 4px;
            margin-left: 14px;
            align-content: center;
            background-color: #4EB2FF;
        }
    }
    
}

.container {
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}

.container__gradient{
    padding-bottom: 50px;
    background: radial-gradient(circle 280px at 76% 44%,rgba(43, 239, 181, 0.16), transparent),
                radial-gradient(circle 300px at 30% 80%,rgba(43, 239, 181, 0.16), transparent);    
    @media (max-width:780px) {
        background: none;
    }

}

.banner-gradient{
    background: radial-gradient(circle 300px at 71% 38%,rgba(43, 239, 181, 0.16), transparent),
                radial-gradient(circle 300px at 33% 60%,rgba(43, 239, 181, 0.16), transparent);
    @media (max-width:780px) {
        background: none;
    }
}

.header{
    border-bottom: 1px solid #EDEDED;

    .header__inner{
        width: 100%;
        height: 91px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 27px;
        padding-bottom: 21px;
    
        .header__menu-list{
            display: flex;
            gap: 61px;
    
            li {
                font: {
                    family: "Inter", system-ui;
                    weight:400;
                    size:14px;
                }
                color:#3D3D3D;
                img{
                    margin-bottom: 1px;
                    margin-left: 5px;
                }
            }
            @media(max-width:1100px){
                display: none;
            }
        }
    
        .header__inner-info{
            display: flex;
            align-items: center;
            gap:30px;
            
            .header__switcher{
                img{
                    margin-bottom: 2px;
                }

                .header__switcher-lang{
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: none;
                    outline: none;
                    
                    option{
                        border-radius: 0px;
                        width: 40px;
                    }

                    font: {
                        family: "Inter", system-ui;
                        weight:400;
                        size:14px;
                    }
                    color:#3D3D3D;

                }
            }

            .inner__info-text{
                font: {
                    family: "Inter", system-ui;
                    weight:400;
                    size:14px;
                }
                color:#3D3D3D;
            }
            
            @media(max-width:1100px){
                display: none;
            }
        }
    
        .header__inner-burger{
            display: none;
            
            .burger-checkbox {
                position: absolute;
                visibility: hidden;
            }
    
            .burger {
                position: relative;
                z-index: 1;
                cursor: pointer;
                display: block;
                position: relative;
                border: none;
                background: transparent;
                width: 40px;
                height: 26px;
    
                &::before,
                &::after {
                    content: '';
                    left: 0;
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 4px;
                    border-radius: 10px;
                    background: #0094FF;
                }
    
                &::before {
                    top: 0;
                    box-shadow: 0 11px 0 #0094FF;
                    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
                }
    
                &::after {
                    bottom: 0;
                    transition: bottom .3s .15s, transform .3s;
                }
            }
    
            .burger__add {
                z-index: 1;
                cursor: pointer;
                display: block;
                position: relative;
                border: none;
                color: #0094FF;
                width: 50px;
                height: 26px;
                align-self: end;
                
                &::before,
                &::after {
                    content: '';
                    left: 0;
                    position: absolute;
                    display: block;
                    width: 40px;
                    height: 4px;
                    border-radius: 10px;
                    background: #0094FF;
                }
                &::before {
                    top: 11px;
                    transform: rotate(45deg);
                    box-shadow: 0 6px 0 rgba(0,0,0,0);
                    transition: box-shadow .15s, top .4s, transform .4s .15s;
                }
                
                &::after {
                    bottom: 11px;
                    transform: rotate(-45deg);
                    transition: bottom .4s, transform .4s .15s;
                }
            }
              
            .burger-checkbox:checked + .burger::before {
                top: 11px;
                transform: rotate(45deg);
                box-shadow: 0 6px 0 rgba(0,0,0,0);
                transition: box-shadow .15s, top .3s, transform .3s .15s;
            }
    
            .burger-checkbox:checked + .burger::after {
                bottom: 11px;
                transform: rotate(-45deg);
                transition: bottom .3s, transform .3s .15s;
            }
    
            .menu-list {
                display: flex;
                flex-direction: column;
                gap: 50px;
                align-items: center;
                transform: translateY(-230%);
                position: fixed;
                width: 100%;
                inset: 10px 0;
                height: 100%;
                top: 0;
                margin: 0;
                padding: 45px 0;
                background-color: white;
                z-index: 1000;
                border: none;
                box-shadow: 1.5px 19px 59px gray;
                transition: .3s;
                
                li {
                    font: {
                        family: "Inter", system-ui;
                        weight:400;
                        size:14px;
                    }
                }
            }
    
            .menu__info{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap:28px;
                p{
                    font: {
                        family: "Inter", system-ui;
                        weight:400;
                        size:14px;
                    }
                    color:#3D3D3D;
                }
            }
              
            .burger-checkbox:checked ~ .menu-list {
                transform: translateX(0);
            }
    
            @media(max-width:1100px){
                display: block;
            }
        }
    }
    
    .header__plugins{
        position: absolute;
        width: 100%;
        height: 432px;
        display: none;
        z-index: 1100;
        margin-top: 90px;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 4px 16px 8px rgba(0, 14, 51, 0.12);

        .header__plugins-menu{
            background-color: white;
            height: 100%;
            padding: 70px 0 0 70px;
            width: 66%;

            .plugins__list{
               margin-top: 40px;
               padding: 0;
               .item__list{
                    margin-bottom: 25px;
                    display: flex;

                    img{
                        margin-right: 11.5px;
                        width: 48px;
                        height: 48px;
                    }

                    a{
                        align-self: center;
                        color: rgba(81, 81, 81, 1);
                        font: {
                            family: "Inter", system-ui;
                            weight:400;
                            size:14px;
                        }
                    }
               }
            }
        }

        .header__plugins-button{
            background-color: rgba(243, 250, 255, 1);
            height: 100%;
            width: 45%;

            .plugins__get{
                display: flex;
                gap: 24px;
                max-width: 468px;
                align-items: center;
                border-radius: 8px;
                padding:31px 35px 31px;
                margin: 70px 70px 0 50px;
                background: linear-gradient(90deg, #4079EA 0%, #46C3E4 100%);
    
                p{
                    max-width: 214px;
                    color: rgba(255, 255, 255, 1);
                    font: {
                        family: "Inter", system-ui;
                        weight:500;
                        size:16px;
                    }
                }
    
                .button{
                    color:#0094FF;
                    background: rgba(255, 255, 255, 1);
                    min-width: 125px;
                }
    
                @media(max-width:1200px){
                    gap:10px
                }
    
            }
        }
    }

    .header__themes{
        position: absolute;
        width: 100%;
        height: 432px;
        display: none;
        z-index: 1100;
        margin-top: 90px;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 4px 16px 8px rgba(0, 14, 51, 0.12);

        .header__themes-menu{
            background-color: white;
            height: 100%;
            padding: 70px 0 0 70px;
            width: 66%;

            .themes__list{
               margin-top: 40px;
               padding: 0;
               .item__list{
                    margin-bottom: 25px;
                    display: flex;
                    
                    img{
                        margin-right: 11.5px;
                        width: 48px;
                        height: 48px;
                    }
                    
                    a{
                        align-self: center;
                        color: rgba(81, 81, 81, 1);
                        font: {
                            family: "Inter", system-ui;
                            weight:400;
                            size:14px;
                        }
                    }
               }
            }
        }

        .header__themes-btn{
            background-color: rgba(243, 250, 255, 1);
            height: 100%;
            width: 45%;

            .themes__get{
                display: flex;
                gap: 24px;
                max-width: 468px;
                align-items: center;
                border-radius: 8px;
                padding:31px 35px 31px;
                margin: 70px 70px 0 50px;
                background: linear-gradient(90deg, #4079EA 0%, #46C3E4 100%);
    
                p{
                    max-width: 214px;
                    color: rgba(255, 255, 255, 1);
                    font: {
                        family: "Inter", system-ui;
                        weight:500;
                        size:16px;
                    }
                }
    
                button{
                    color:#0094FF;
                    background: rgba(255, 255, 255, 1);
                    min-width: 125px;
                }
    
                @media(max-width:1200px){
                    gap:10px
                }
    
            }
        }
    }

}

.main{

    background: linear-gradient(180deg, #FFFFFF 0%, #E3F0FC 100%);

    .main__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__inner-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 773px;
        background-image: radial-gradient(circle 200px at 50%,rgba(43, 239, 181, 0.2), transparent);
        padding: 65px 0 48px 0;

        .info-text{
            max-width: 462px;
            height: auto;
            margin-bottom: 20px;
            line-height: 24.2px;
            text-align: center;
        }
    }

    .main__image{
        img{
            width: 100%;
            border-radius: 8px;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.plugins{
    padding-top: 150px;
    background: linear-gradient(360deg, rgba(227, 240, 252, 0) 0%, #E3F0FC 30%);

    .plugins-text{
        margin-top: 16px;
        color:#3B3B3B;
    }

    .plugins__inner{
        display: flex;
        gap: 25px;
        margin-top: 78px;
        margin-bottom: 40px;
        width: 100%;
        max-width: 1400px;


        .plugin__card{
            display: flex;
            flex-direction: column;
            min-height: 329px;
            width: 100%;
            border-radius: 16px;
            background:#FFFFFF;
            opacity: 0.95;
            padding: 20px 50px 24px 20px;
            
            
            .plugin__card-image{
                width: 72px;
                height: auto;
                margin-bottom: 34px;
            }

            .plugins__card-title{
                margin-bottom: 9px;
                color:#252A34;

            }

            .card-text{
                margin-bottom: 29px;
            }

            .link-more{
                margin-top: auto;
            }
        }

        @media (max-width:1000px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.banner{
    background: linear-gradient(180deg, #E3F0FC 100%, #E3F0FC 100%);
    padding-top: 151px;

    .banner__inner{
        margin-top: 58px;
        display: flex;
        gap: 25px;
        justify-content: center;

        .banner__card{
            display: flex;
            flex-direction: column;
            padding: 41px 30px 20px;
            width: 450px;
            height: 550px;
            border-radius: 16px;
            justify-content: flex-start;
            background-color: #FFFFFF;
            background-repeat: no-repeat;
            background-size: cover;

            .banner__btn{
                display: flex;
                width: 180px;
                max-width: 100%;
                padding: 12px 20px;
                gap: 54px;
                align-items: center;
                background-color:#FF8D3B;
                border: none;
                border-radius: 20px;
                margin-top: auto;

                &:hover{
                    cursor: pointer;
                }
    
                p{  
                    align-items: center;
                    color:#FFFFFF;
                    font: {
                    family: "Inter", system-ui;
                    weight:600;
                    size:28px;
                    }     
                }
            }
    
            .banner__card-title{ 
                margin-bottom: 6px;
            }
    
            .--title-dark{
                color:#FFFFFF;
            }
    
            .banner__card-verison{
                border: 1px solid #BABEC7;
                border-radius: 20px;
                max-width: max-content;
                padding: 0 8px;
                
            }
    
            @media(max-width:1040px) {
                width: 100%;
            }

            @media(max-width:900px) {
                height: 300px;
            }
        }

        .--dark{
            background-image: url('../img/banner_background/dark.jpg');
            background-position:100%;
        }

        .--pro{
            background-image: url('../img/banner_background/kan-check.jpg');
            background-size:350px; 
            background-position: bottom right; 

            @media(max-width:900px) {
                background-size: 276px;
            }

            @media(max-width:580px) {
                background-size: 214px;
            }

            @media(max-width:430px) {
                background-size: 178px;
            }
            
            
        }

        .--entreprise{
            background-image: url('../img/banner_background/check.jpg');
            background-size:300px; 
            background-position: bottom right; 

            @media(max-width:900px) {
                background-size: 224px;
            }

            @media(max-width:580px) {
                background-size: 214px;
            }

            @media(max-width:430px) {
                background-size: 178px;
            }

        }

        @media(max-width:900px) {
            flex-direction: column;
        }

    }
}

.offer{
    background: linear-gradient(180deg, rgba(227, 240, 252, 0) 0%, #E3F0FC 100%);
    padding-bottom: 133px;

    .offer__box-special{
        position: absolute;
        margin-top: -40px;
        width: 98%;
        height: 470px;
        background-image: url('../img/offer_back/offer_back-special.svg');
        background-repeat: no-repeat;
        background-size: 94%;

        @media (max-width:1150px) {
            display: none;
        }
        
    }

    .offer__box-demo{
        position: absolute;
        margin-top: -94px;
        width: 98%;
        height: 470px;
        background-image: url('../img/offer_back/offer_back-demo.svg');
        background-repeat: no-repeat;
        background-size: 101% 103%;

        @media (max-width:1150px) {
            display: none;
        }
        
    }

    .offer__box{
        background: linear-gradient(90deg, #4079EA 0%, #46C3E4 100%);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 56px 20px;
        

        .offer__box-title{
            color: #FFFFFF;
            margin-bottom: 16px;
        }

        .offer__box-text{
            color:#FFFFFF;
            max-width: 548px;
            line-height: 24px;
            margin-bottom: 30px;
            padding: 0 50px;
        }

        .offer__box-btn {
            background-color: #FFFFFF;
            border-radius: 6px;
            cursor: pointer;

            .img__arrow{
                background-color: #D8EEFF;
            }

            p{
                color:#252A34;
            }
        }

    }

}

.tools{
    background-image: linear-gradient(#E3F0FC,#FFFFFF);
    padding-top: 138px;

    .tools__swiper{
        
        align-items: center;
    
        .tools__swiper-list{
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            gap: 60px;
            padding-bottom: 15px;
            margin-bottom: 65px;
            margin-top: 50px;
            overflow-y: auto;

            li{ 
                min-width: 127px;
                text-align: center;
            }

            a{  
                color:#59636A;
                font: {
                    family: "Inter", system-ui;
                    weight:400;
                    size:18px;
                }
                position: relative;
                cursor: pointer;
                line-height: 1; 
                text-decoration: none;
                
                &:after {
                    display: block;
                    position: absolute;
                    margin-top:13px;
                    height: 2px; 
                    left: 0;
                    border-radius: 5px;
                    background-color: #0094FF; 
                    content: "";

                    @media(max-width:1136px) {
                        display: none;
                    }

                }
                
                &:hover:after{
                    width: 100%;
                }

                &:hover{
                    font-weight: 700;
                    color: black;
                }
            }

            @media(max-width:1100px) {
                justify-content: flex-start;
            }
        }

        .tools__swiper-box{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap:6vw;

            .tools__swiper-info{
                max-width: 391px;
                
                .tools__swiper-title{
                    margin-bottom: 16px;
                }

                .description_plugin{
                    color:#6C7383;
                    margin-top: 15px;
                }

                @media(max-width:670px){
                    align-self: flex-start;
                }
            }

            .tools__swiper-image{
                min-width: 200px;
                img{
                    width: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            @media(max-width:670px){
                flex-wrap: wrap;
                justify-content:flex-start;
            }

        }
    }    
}

.footer{
    background-color: #04071A;

    .footer__box{
        padding-top: 80px;
        padding-bottom: 90px;
        display: flex;
        gap: 142px;

        .footer__box-links{
            display: flex;
            flex-direction: column;
            position: relative;
            
            .footer__links-logo{
                width: 332px;
                p{
                    font-size: 36px;
                    color:#FFFFFF;
                }
            }

            .footer__links-menu{
                margin-top: auto;

                .footer__menu-item{
                    margin-top: 20px;
                }

                @media(max-width:860px) {
                    max-width: 100%;
                }

                @media(max-width:400px) {
                    text-align: center;
                }

            }

            @media(max-width:860px) {
                flex-direction: row;
                order: 2;
                gap: 142px;
                max-width: 100%;
            }

            @media(max-width:480px) {
                gap: 0px;
            }

            @media(max-width:400px) {
                flex-wrap: wrap;
                justify-content: center;
            }

           
        }

        .footer__box-contacts{
            display: flex;
            flex-direction: column;
            max-width: 688px;
            width: 100%;
            
            .footer__contacts-title{
                color:#FFFFFF;
                margin-bottom: 16px;
                
                @media(max-width:860px) {
                    text-align  : center;
                }
            }

            .footer__contacts-text{
                margin-bottom: 46px;
                color:#FFFFFF;
            }

            .footer__contacts-form{
                display: flex;
                flex-direction: column;
                gap: 24px;

                .footer__form-item {
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                
                    .footer__form-input {
                        color:#C7C7C9;
                        max-width: 472px;
                        width: 100%;
                        height: 56px;
                        background-color: transparent;
                        outline: none;
                        border: none;
                        border-bottom: 1px solid #8B8B8F;
                    
                        &:hover,
                        &:focus{
                            border-bottom: 1px solid #0094FF;
                        }
                    }
                      
                    .footer__form-label {
                        position: absolute;
                        pointer-events: none;
                        color:#C7C7C9;
                        left: 1px;
                        right: 15px;
                        top: 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        line-height: 40px;
                        transition: .3s;
                    }
                      
                    .footer__form-input:focus~.footer__form-label,
                    .footer__form-input:not(:focus):valid~.footer__form-label {
                        top: -20px;
                        font-size: 12px;
                    } 

                    .--textarea-input{
                        padding-left: 12px;
                        padding-top: 25px;
                        height: 100px;
                        max-height: 100%;
                        border: 1px solid #8B8B8F;
                        border-radius: 4px;
                        resize: none;
                    }

                    .--textarea-label{
                        padding-left: 12px;
                        padding-bottom: 20px;
                    }

                    .footer__form-input:focus~.--textarea-label,
                    .footer__form-input:not(:focus):valid~.--textarea-label {
                        top: -10px;
                        font-size: 12px;
                    } 
                
                }

                .button{
                    max-width: 475px;
                    width: 100%;
                    box-shadow: none;
                    .btn-text{
                        width: 100%;
                    }
                }

            }

            @media(max-width:860px) {
                align-items: center;
            }

        }

        @media(max-width:860px) {
            flex-direction: column;
            gap: 50px;
            align-items: center;
        }

    }

}

